<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="23d3984f-be91-4963-adf9-418b16ecf774" name="TestSuite 6" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="23d3984f-be91-4963-adf9-418b16ecf774fileName">TestSuite-6</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
